.pustota{
    width:45%;
}
.silka{
    display: inline-block;
}
header{
    padding: 10px 15px;
    background-color:white;
}
header>*{
    display: inline-block;
    width:425px;
}
header a{
    text-decoration: none;
    color: black;
    margin:0 20px;
}
main>p{
    font-size: 23px;
    padding: 70px 0px;
}
*{
    margin: 0px 7px;
    text-decoration: none;
    color:black
}
header>h1{
    padding: 20px 0px;
    font-size: 45px;
}
main>h1{
    font-size: 55px;
    text-align: center;
    padding: 65px 0px;
}
ol>p{
    position: relative;
    left: 15px;
}
li{
    padding: 15px 0px;
}
footer{
    font-size: 20px;
}
ol{   
    font-size: 40px;
    padding: 30px;
    position: relative;
    left: 50px;
}
header>img{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}